---
import SITE from '@/config';
import type { SiteMeta } from '@/types';
import '../styles/reset.css';
import '../styles/global.css';

export type Props = SiteMeta;

const {
  title = SITE.title,
  author = SITE.author,
  description = SITE.description,
  ogImage = SITE.ogImage,
} = Astro.props as Props;

const siteTitle = title ? `${title} | ${SITE.title}` : `${SITE.title}`;
const ogImageURL = new URL(ogImage, Astro.url.origin);
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta name="format-detection" content="telephone=no,address=no" />
<title>{siteTitle}</title>
<meta name="description" content={description} />
<meta name="author" content={author} />
<!-- favicon -->
<link rel="icon" type="image/png" href="/favicon.png" sizes="32x32" />
<link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png" sizes="180x180" />
<link rel="manifest" href="/manifest.json" />
<!-- OGP -->
<meta property="og:title" content={siteTitle} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content={siteTitle} />
<meta property="og:url" content={Astro.url} />
<meta property="og:image" content={ogImageURL} />
<meta property="og:locale" content="ja_JP" />
<meta property="og:type" content="website" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={siteTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogImageURL} />
<!-- font -->
<link rel="stylesheet" href="https://use.typekit.net/lao3rao.css" />
