---
import BaseLayout from '@/layouts/Base';
import DateTime from '@/components/DateTime';

const { title, description, publishDate, updatedDate, image } = Astro.props;
const meta = {
  title: title,
  description: description,
};
---

<BaseLayout meta={meta}>
  <article>
    <h1>{title}</h1>
    {
      image && (
        <div class="thumbnail">
          <img src={image.src} alt={image.alt} width="" height="" decoding="async" />
        </div>
      )
    }
    <div class="date">
      <DateTime date={publishDate} />
      {updatedDate && <DateTime date={updatedDate} />}
    </div><!-- /.date -->
    <div class="entry">
      <slot />
    </div><!-- /.entry -->
  </article>
</BaseLayout>
