---
import BaseLayout from '@/layouts/Base';
import DateTime from '@/components/DateTime';
import '../styles/post.css';

const { title, description, publishDate, updatedDate, image } = Astro.props;
const meta = {
  title: title,
  description: description,
};
---

<BaseLayout meta={meta}>
  <article>
    <h1>{title}</h1>
    {
      image && (
        <div class="thumbnail">
          <img src={image.src} alt={image.alt} width="" height="" decoding="async" />
        </div>
      )
    }
    <div class="date">
      <DateTime date={publishDate} type="publish" />
      {updatedDate && <DateTime date={updatedDate} type="updata" />}
    </div><!-- /.date -->
    <div class="post">
      <slot />
    </div><!-- /.post -->
  </article>
</BaseLayout>

<style>
  article {
    margin-top: var(--size-space-xl);
  }
  h1 {
    font-weight: bold;
    font-size: 1.75rem;
  }

  .date {
    display: flex;
    justify-content: flex-end;
    gap: var(--size-space-md);
  }
</style>
